<div
    {{#if id}} id="{{id}}"{{/if}} 
    class="map{{#if class}} {{class}}{{/if}}"
    {{~#each dataset}} data-map-{{@key}}="{{this}}"{{~/each ~}}
>
    {{~#if options.notSupport ~}}
    <!--[if lte IE 9]><p class="map__msg">{{{options.notSupport}}}</p><![endif]-->
    {{~/if~}}
</div>

{{#if options.key}}<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{{options.key}}}"></script>{{/if}}